
/* RESET */
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

a {
  color: rgb(178, 159, 179);
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

html {
  font-size: 14px;
}

.App {
  text-align: center;
}

/* 
* Bar Chart
*/
rect:hover {
  fill: #007bff;
}

table td {
  vertical-align: middle !important;
}
