
/* RESET */
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

a {
  color: rgb(178, 159, 179);
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

html {
  font-size: 14px;
}

.App {
  text-align: center;
}

<<<<<<< HEAD
.container {
  margin-top: 50px;
}

/* Content Editable */
.content-editable {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background: #e4f4fd;
  border: solid 0.05rem #ccc;
  cursor: pointer;
}
.content-editable:hover {
  /* background: #ccecff; */
}
.content-editable:focus {
  background: #b5e4ff;
  border: solid 0.1rem #aaa;
  outline: 0;
  cursor: initial;
}

/* Scheduler table */
#scheduler-table thead {
  text-align: center;
}
#scheduler-table td {
  text-align: center;
}

.week-in-table {
  display: inline-block;
  margin: auto;
  height: 20px;
  width: 20px;
  background-color: #3d3d4b;
  border-radius: 10%;
}

/*
 * Navbar
 */
.navbar-brand {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

=======
>>>>>>> redux
/* 
* Bar Chart
*/
rect:hover {
  fill: #007bff;
}
