.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin-top: 20px;
}

/* Sidebar */
#sidebar {
  position: "fixed";
  height: 89.8vh;
  background: #282c34;
  padding: "10px"
}
#sidebar ul {
  padding: 10px;
}
#sidebar ul li {
  padding: 10px;
}
.sidebar-listitems {
  color: #fff;
}
.sidebar-listitems:hover {
  color: rgb(76, 180, 250);
  text-decoration: none;
}

/* Content Editable */
.content-editable {
  padding: 0.2rem;
  border-radius: 2%;
}
.content-editable:hover {
  background: #f7f7f7;
}
.content-editable:focus {
  background: #f7f7f7;
  border: solid 0.05rem #3d3d4b;
  /* color: #f7f7f7; */
  outline: 0;
}

/* Scheduler table */
#scheduler-table thead { text-align: center; }
#scheduler-table td { text-align: center; }
/* #scheduler-table table { border-collapse: collapse } */
/* #scheduler-table tr { border: 3px solid rgb(22, 22, 116)} */
.week-in-table {
  display: inline-block;
  margin: auto;
  height: 20px;
  width: 20px;
  background-color: #3d3d4b;
  border-radius: 10%
}